<div class="container-fluid">
	<div class="tech">
		<h1>About Me</h1><br>
    	<h4 class="gradient-text">I am Pramod. My qualification is BSc Computer Science. I have 
        	also completed Web Developement course from Felix-IT's Pune. 
    	</h4><br>

    	<h3>My Technical Knowledge is:</h3>
		<hr>
		<table class="myTechBackground center">
			<tr class="header" style="color: black; border-bottom: 1px black solid;">
				<th>Technology</th>
				<th>My knowledge in %</th>
			</tr>
			<tr class="row1">
				<td>HTML</td>
				<td><progress id="html" value="85" max="100"> 85% </progress></td>
			</tr>
			<tr class="row2">
				<td>CSS</td>
				<td><progress id="css" value="80" max="100"> 80% </progress></td>
			</tr>
			<tr class="row3">
				<td>Bootstrap</td>
				<td><progress id="bootstrap" value="75" max="100"> 75% </progress></td>
			</tr>
			<tr class="row4">
				<td>JavaScript</td>
				<td><progress id="js" value="65" max="100"> 65% </progress></td>
			</tr>
			<tr class="row5">
				<td>Angular</td>
				<td><progress id="angular" value="60" max="100"> 60% </progress></td>
			</tr>
			<tr class="row6">
				<td>JQuery</td>
				<td><progress id="jquery" value="60" max="100"> 60% </progress></td>
			</tr>
			<tr class="row7">
				<td>Core Java</td>
				<td><progress id="java" value="70" max="100"> 70% </progress></td>
			</tr>
			<tr class="row8">
				<td>MySQL</td>
				<td><progress id="sql" value="75" max="100"> 75% </progress></td>
			</tr>
			<tr class="row9">
				<td>MongoDB</td>
				<td><progress id="nosql" value="40" max="100"> 40% </progress></td>
			</tr>
			<tr class="row10">
				<td>DBMS</td>
				<td><progress id="dbms" value="45" max="100"> 45% </progress></td>
			</tr>
        </table>
	</div>
    
</div>
   
        
        <!-- footer start -->
  <div class="container-fluid">  
    <footer class="footer bg-dark text-white">
      <h4>
        <span class="left">All Copyright &copy; Pramod.</span>
        <span class="right" style="color: rgb(163, 165, 42); text-align: right;"> Privacy policy | Terms of Services</span>
      </h4>
    </footer>
  </div>
  <!-- footer end -->
