<div class="container-fluid">
    
    <div style="padding: 50px;
        height: 500px;
        background-color: red;
        background-image: linear-gradient(45deg, #f3ec78, #af4261);">
        <h1>Contact Me</h1>
        <div class="col-md-8">
            <form action="mailto:pramodpatane9690@gmail.com" method="POST" name="EmailTestForm">
                <table>
                    <tr>
                        <td><label for="name">Name :</label></td>
                        <td><input type="text" class="form-control" placeholder="Your Name" /></td>
                    </tr><br>
                    <tr>
                        <td><label for="email">Email :</label></td>
                        <td><input type="email" class="form-control" placeholder="Your Email Id" /></td>
                    </tr><br>
                    <tr>
                        <td><label for="mobile">Mobile :</label></td>
                        <td><input type="text" class="form-control" maxlength="10" placeholder="Your Mobile No" /></td>
                    </tr><br>
                    <tr>
                        <td><label for="message">Message:</label></td>
                        <td><textarea class="form-control" name="message" id="message" cols="100" rows="4" placeholder="Enter Message"></textarea></td>
                    </tr><br>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-primary">Submit</button></td>
                    </tr>
                </table>
            </form>
            
        </div>
        <div class="col-md-4">
            <form>
                <div>
                    <b>Mail id: </b><br>
                    <img src="assets/images/email.ico" alt="Email">
                      pramodpatane9690@gmail.com
                </div><br>
                <div>
                    <b>WhatsApp :</b><br>
                    <img src="assets/images/whatsapp.ico" alt="WhatsApp">
                    8308385063
                </div><br>
            </form>
        </div>
    </div>
</div>
<!-- footer start -->
  <div class="container-fluid">  
    <footer class="footer bg-dark text-white">
      <h4>
        <span class="left">All Copyright &copy; Pramod.</span>
        <span class="right" style="color: rgb(163, 165, 42); text-align: right;"> Privacy policy | Terms of Services</span>
      </h4>
    </footer>
  </div>
  <!-- footer end -->


