 <div class="div1 container-fluid">
    <img src="assets\images\backimage.jpg" style="width:100%; height: 525px; opacity: 75%;" alt="image">
    <div class="content" style="cursor: pointer;">
      <h1>I am Pramod Patane.</h1>
      <h2>Profile : Web/Angular Developer</h2><br>
      <h3>Qualification : BSc Computer Science</h3>
      <h3>Certification : Web/Angular Developer From Felix-IT's</h3>
      <h3 id="goal">Goal : "Join any industry/firm and implement my knowledge and grow the company. I am very passionate about my Career and I am hardworker."</h3>
      <button type="button" class="btn btn-primary">About Me</button>
      <button type="button" class="btn btn-primary">Contact Me</button>
    </div>
  </div>
  
  <!-- footer start -->
  <div class="container-fluid">  
    <footer class="footer bg-dark text-white">
      <h4>
        <span class="left">All Copyright &copy; Pramod.</span>
        <span class="right" style="color: rgb(163, 165, 42); text-align: right;"> Privacy policy | Terms of Services</span>
      </h4>
    </footer>
  </div>
  <!-- footer end -->
  